.func {
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px;
    border: 6px solid #4C0099;
    border-radius: 30px;
    transition: box-shadow 0.2s;
}

.func:hover {
    cursor: pointer;
    box-shadow: 60px -16px #5B0CF9;
}

.func__title {
    font-size: 36px;
    color: #4D0099;
    font-weight: bolder;
}

.func__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info__text {
    font-size: 24px;
    line-height: normal;
}

.info__img {
    height: 410px;
}

.hint {
    background-color: #FE00B7;
    width: 320px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin: 10px;
    color: white;
}

.hint__title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}