@inherits LayoutComponentBase

<style>
  a.navbar-brand {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #4D0099;
    color: white;
    padding: 20px;
}
</style>

<nav class="navbar navbar-dark" style="background: #4D0099;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../img/logo.png" alt="" class="d-inline-block align-text-center">
      Computer Build Assistant
    </a>
  </div>
</nav>

@Body

<footer class="footer">
  <div class="container">
    &copy; 2021 - Юнах Ульян, Гавриленко Яна
  </div>
</footer>
