@page "/func3"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Функция 3</h1>
<a class="btn btn-primary" href="/" @onclick="UpdateUserInfo">Вернуться</a>

@code {
    private async void UpdateUserInfo()
    {
        var UserListLocal = await localStorage.GetItemAsync<AssistFuncList>("userList");
        
        UserListLocal.UpdateList(2);

        await localStorage.SetItemAsync("userList", UserListLocal);
    }
}