@page "/"
@inject NavigationManager NavigationManager
@inject AssistService service

<div class="d-flex flex-column">

    <div class="container-fluid">
        <div class="about">
            <div class="about__text">
                <div class="text__title">Computer Build Assistant</div>
                Эта система поможет подобрать вам компаненты для вашего компьютера.
            </div>
        </div>
    </div>

    <ActionList />

</div>