@page "/"

<div class="d-flex flex-column">

    <div class="about">
        <div class="row">
            <div class="about__text col-lg-7">
                <h1>computer-build-assistant</h1>
                <h3>Эта система поможет подобрать вам компаненты для вашего компьютера.</h3>
            </div>
            <div class="about__img col-lg-5">
                <img src="../img/computer.png" alt="" width="100%">
            </div>
        </div>
    </div>

    <ActionList />

</div>
