@foreach (Component component in Selection.List)
{
    <ComponentView Component=component />
}
<div class="info cost">Полная стоимость подборки: @Selection.Cost</div>
<div class="info">Ценность подборки: @Selection.Worth</div>

@code{
    [Parameter]
    public Selection Selection { get; set; }
}