<div class="component">
    <div class="component__title">
        @Component.Name
    </div>
    <div class="component__desc">
        @Component.Description
    </div>
    <div class="component__cost">
        @Component.Cost
    </div>
</div>

@code{
    [Parameter]
    public Component Component { get; set; }
}