@inject NavigationManager navigationManager
@inject AssistService service

<div class="selection" @onclick="Handle">
    <div class="selection__title">
        @Selection.Name
    </div>
    <div class="selection__info">
        <div class="info__cost">
            @Selection.Cost
        </div>
        <div class="info__worth">
            @Selection.Worth
        </div>
    </div>
</div>

@code{
    [Parameter]
    public Selection Selection { get; set; }
    [Parameter]
    public AssistFunc Func { get; set; }
    [Parameter]
    public bool IsFast { get; set; }

    private async void Handle()
    {
        await service.IncreaseAssistFuncLevel(Func, IsFast);
        navigationManager.NavigateTo($"/favorites/{Selection.Name}");
    }
}