<div class="selection">
    <div class="selection__title">
        @Selection.Name
    </div>
    <div class="selection__info">
        <div class="info__cost">
            @Selection.Cost
        </div>
        <div class="info__worth">
            @Selection.Worth
        </div>
    </div>
</div>

@code{
    [Parameter]
    public Selection Selection { get; set; }
}